* {
    box-sizing: border-box;
}

html {
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}

video {
    opacity: 0;
    width: 0;
    height: 0;
}